
.parentdiv{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    position: relative;
    transition: height 0.4s ease-in-out;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
}

.big-display-container{
    height: 350px;
    width: 320px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    transition: height 0.4s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
    top: 0px;
}

  .HC3 {
    margin: auto;
    position: center;
    width: 320px;
    height: 350px;
    top: 108px;
    background: #454AA6;
    border-radius: 12px;
  }

  .title{
    text-align: start;
    position: absolute;
    margin-left: 33px;
    width: 260px;
    height: 70px;
    top: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FBAF03;
    line-height: 35px;
  }


  .subTitle{
    
    color: white;
    
  }

  .sampleText{
    text-align: start;
    position: absolute;
    margin-left: 33px;
    width: 251px;
    height: 36px;
    top: 223px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */


color: #FFFFFF;
  }

.action-button{
    position: absolute;
    margin-left: 33px;
    left: 0%;
    right: 0%;
    top: 288px;
    bottom: 0%;
    color: white;
    background: #000000;
    border-radius: 6px;
    border-color: black;
    width: 128px;
    height: 42px;
    
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}


/* remind me later icon css below */

.remindmelatercard{
  position: absolute;
  width: 72px;
  height: 59px;
  left: 21px;
  top: 98px;
  
  background: white;
  border-radius: 12px;
}

.remindmelatercardicon{
  position: absolute;
  width: 17.51px;
  height: 20.24px;
  left: 28px;
  top: 10px;
}

.remindmelatercardtext{
  position: absolute;
  width: 54px;
  height: 12px;
  left: 10px;
  top: 37px;

  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;

  text-align: center;

  color: #000000;
}


/* dismiss now icon css below */

.dismissnowcard{
  position: absolute;
  width: 72px;
  height: 59px;
  left: 21px;
  top: 194px;
  
  background: white;
  border-radius: 12px;
}

.dismissnowcardicon{
  position: absolute;
  width: 18.15px;
  height: 18.15px;
  left: 28px;
  top: 10px;
}

.dismissnowcardtext{
  position: absolute;
  width: 54px;
  height: 12px;
  left: 10px;
  top: 37px;

  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;

  text-align: center;

  color: #000000;
}