
.image-card-container{
    position: absolute;
    width: 320px;
    height: 146.67;
    top: 547px;
    background: #FFDDA1;;
    border-radius: 12px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

  .HC5 {
    margin: auto;
    position: center;
    width: 320px;
    height: 129px;
    background: #FFDDA1;
    border-radius: 12px;
  }


