.SpinCardArrowIcon1{
  position: absolute;
  width: 10px;
  height: 16px;
  left: 20px;
  top: 47px;
  transform: rotate(180deg);
  visibility: hidden;
}

.image-card-container2{
    position: absolute;
    width: 320px;
    height: 146.67px;
    top: 547px;
    background: #F7F6F3;
    border-radius: 12px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

.image-card-details-style{
  position: fixed;
  width: 360px;
  height: 501px;
  top: 245px;
  background: #F7F6F3;
  border-radius: 12px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  visibility: hidden;
}

  .HC5 {
    margin: auto;
    position: center;
    width: 320px;
    height: 129px;
    background: #FFDDA1;
    border-radius: 12px;
  }

  /* .imagecarddetailsStyle {
    margin: 0 auto;
    position: absolute;
    width: 360px;
    height: 501px;
    background: #F7F6F3;
    border-radius: 12px;
    visibility: visible;
    top: 86px;
  } */


