
.small-display-card-ns-container{
    position: absolute;
    width: 320px;
    height: 60px;
    top: 902px;
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    transition: height 0.4s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

  .HC1 {
    margin: auto;
    position: center;
    width: 320px;
    height: 60px;
    top: 108px;
    background: #fbaf03;
    border-radius: 12px;
  }

  .smalldisplaycard-ns-title{
      position: absolute;
      width: 115px;
      height: 16px;
      left: 65px;
      top: 13px;
      
      text-align: start;
      font-family: Arial;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: #000000;
  }

  .smalldisplaycard-ns-name{
    position: absolute;
    width: 92px;
    height: 16px;
    left: 65px;
    top: 30px;

    text-align: start;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.smalldisplaycard-ns-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 15px;
}