
body{
  margin: 0 auto;
}

.App {
    position: absolute;
    text-align: center;
    height: 1100px;
    width: 360px;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  
  .sendEmailButton {
    color: #ffffff;
    background-color: #1a79eef8;
  }

  
  
  .App-logo {
    position: center;
    width: 74.4px;  /* Added the width values of title and logo from wireframe */
    height: 23px;
    padding-top: 39.87px;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 19.8917px;
    line-height: 23px;

    color: #4C5454;
  }

  .greybgd{
    position: absolute;
    width: 360px;
    height: 1100px;
    left: 0px;
    right: 0px;
    top: 84px;
    align-content: center;
    background: #F7F6F3;
    border-radius: 12px 12px 0px 0px;
  }


  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
 
  
  