.App {
    text-align: center;
    position: center;
  }
  
  .sendEmailButton {
    color: #ffffff;
    background-color: #1a79eef8;
  }
  
  
  .App-logo {
    position: center;
    width: 74.4px;  /* Added the width values of title and logo from wireframe */
    height: 23px;
    left: 139px;
    top: 39.87px;
    padding-top: 39.87px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19.8917px;
    line-height: 23px;

    color: #4C5454;
  }

  .HC1 {
    position: center;
    width: 320px;
    height: 350px;
    left: 20px;
    top: 108px;
    background: #454AA6;
    border-radius: 12px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
 
  
  